<div class="robo">
  <div class="robo__close js-robo__close"></div>
  <div class="robo__text">

    <div class="column">
      <div class="card">
        <div class="js-robo__title robo__title">
          Crusade
        </div>
        <div class="js-robo__body robo__body">
          To build an image processing robot that is capable of traversing in a lane while detecting glowing LEDs on its way and deciding its path 
          according to the frequencies of the blinking LEDs.<br><a href="https://2019.robotix.in/event/crusade/" target="_blank">Know More...</a><br>
        <button class="crusade_register register_button">Register</button>
        <br>
        <a href="https://api.ktj.in/team" target="_blank">Create Team</a>
      </div>
      <div class="crusade_message register_message"></div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="js-robo__title robo__title">
          Cubiscan
        </div>
        <div class="js-robo__body robo__body">
          The labyrinth to the National Treasure ain’t easy, and definitely beyond our scope because it’s entrapped in debris. Furthermore, the gate to the 
          treasure is opened only by knowing the correct volume of blocks of specific physical characteristics, which perhaps shows skilled ancient 
          architecture. We need to build up a bot on which this engulfing task can be assigned.<br><a href="https://2019.robotix.in/event/cubiscan/" target="_blank">Know More...</a><br>
        <button class="cubiscan_register register_button">Register</button>
        <br>
        <a href="https://api.ktj.in/team" target="_blank">Create Team</a>
      </div>
      <div class="cubiscan_message register_message"></div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="js-robo__title robo__title">
          Zenith
        </div>
        <div class="js-robo__body robo__body">
          It is post-war time and the place is all in shambles, with rubble and trenches all over the place. You are asked to design the prototype of a bot that is capable of clearing all these hurdles and reaching the zenith.<br><a href="https://2019.robotix.in/event/zenith/" target="_blank">Know More...</a><br>
        <button class="zenith_register register_button">Register</button>
        <br>
        <a href="https://api.ktj.in/team" target="_blank">Create Team</a>
      </div>
      <div class="zenith_message register_message"></div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="js-robo__title robo__title">
            Robowars
        </div>
        <div class="js-robo__body robo__body">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="js-robo__title robo__title">
          Embetronics
        </div>
        <div class="js-robo__body robo__body">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="js-robo__title robo__title">
          Droid Blitz
        </div>
        <div class="js-robo__body robo__body">
        </div>
      </div>
    </div>
    
 
  </div>
</div>
