<div class="team">
    <div class="team__close js-team__close"></div>
    <div class="team__text">
        <h1>Tech Team</h1>>
                        <div class="column">
                          <div class="card">
                            <div class="js-team__title team__title">Rishi Kant Rajpoot</div>
                            <div class="js-team__body team__body">
                              <img  src="/images/team/rishikraj.jpg" alt"rishikraj">
                              <center>rishikraj@ktj.in<br>7430099888 </center>
                            </div>
                          </div>
                        </div>
                        <div class="column">
                          <div class="card">
                            <div class="js-team__title team__title">Raj Shekhar Dev</div>
                            <div class="js-team__body team__body">
                              <img src="/images/team/rajshekhar.jpg" alt"shekharraj">
                              <center>raj.shekhar@ktj.in<br>7427944363 </center>
                            </div>
                          </div>
                        </div>
                        <div class="column">
                          <div class="card">
                            <div class="js-team__title team__title">Shashi Ranjan</div>
                            <div class="js-team__body team__body">
                              <img src="/images/team/shashiranjan.jpg" alt"shashiranjan">
                              <center>shashi1iitk@gmail.com<br>8789503628 </center>
                            </div>
                          </div>
                        </div>

    </div>
  </div>
  