<div class="login">
  <div class="login__close js-login__close"></div>
  <div class="login__text">
    <div class="form">
      <div class="login_error"></div>
      <form action="">
        <label for="email">Email</label><br>
        <input type="text" id="email" class="login_input"><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" class="login_input"><br>
        <button class= "login_submit">Submit</button><br>
        <a href="https://api.ktj.in/passwordreset" target="_blank">Forgot Password</a>
      </form>
    </div>
  </div>
</div>
