@import '~stylesheets/common/global-imports';

.myktj {
  display: none;

  .myktj__close {
    position: absolute;
    right: 9rem;
    top: 5.25rem;
  }

  .myktj__text {
    position: absolute;
    left: 10%;
    top: 12.5%;
    /* transform: translate(0, -50%); */
    font-size: 1.35rem;
    color: white;
    width: 80%;
  }

    .myktj__text a {
      text-decoration: none;
      opacity: 0.65;
      transition: opacity 0.25s ease-out;
      color: white;

      &:hover {
        opacity: 1;
      }
    }

    .myktj__title {
      text-transform: uppercase;
      // text-shadow: 1px 0px 0px #fff, -1px 0px 0px #fff, 0px -1px 0px #fff, 0px 1px 0px #fff;
      font-size: 3rem;
      line-height: 1.5rem;
      margin-bottom: 3rem;
      opacity: 0;
    }

    .myktj__body {
      @include font-about();
      margin-bottom: 3rem;
      letter-spacing: 0.15rem;
      line-height: 1.8rem;
      font-size: 1.6rem;
      opacity: 0;

      &:last-child{
        margin-bottom: 0;
      }
    }

      .myktj__list {
        list-style: none;
        margin: 0;
        padding: 0;
      }
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #ffffff1f;
    display:flex;
}

/* Style the buttons inside the tab */
.tab button {
      background-color: #ffffff52;
    /* float: left; */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 0px;
    font-size: 16px;
    transition: 0.3s;
    width: 100%;
    font-size: 25px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ffffff7a;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc0;
}

/* Style the tab content */
.myktjtabcontent {
  display: none;
  // padding: 4rem 4rem 0rem 4rem;
  background: #ffffff1f;
  border-top: none;
  height: 50rem;
  font-size: 18px;
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 3em;
  overflow-y: auto;
}
.myktjtabcontent table{
  width: 100%;
}
.myktjtabcontent tr {
  border-bottom: 1px solid;
}
.myktjtabcontent td, th {
  padding: 1em 0 1em 0;
  text-align: center;
}
.myktj__deregister, .myktj__leave{
  padding: 6px 10px;
  margin: 0px 0px;
  background: #fff;
  border: none;
  color: black;
  -moz-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}
.myktj__deregister:hover{
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.6);
}


.popup__close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.popup__close:hover,
.popup__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.popup {
  padding: 0em;
  height: 80%;
  z-index: 1;
  position: fixed;
  width: 80%;
  top: 10%;
  left: 10%;
  background-color: white;
  color:black;
  overflow: auto;
  display: none;
}
.popup-header {
  font-size: 2em;
  text-align: center;
  border-bottom: 1px solid white;
  padding: 1em;
}

.popup-container {
  padding: 3em;
  font-size: 15px;
}

.accolink {
  color: white;
  background: black;
  padding: 1em;
  text-align: center;
  margin: 1em;
  font-size: 20px;
}
.accontact {
  background: #efeeed;
	padding: 1em;
	margin: 1em;
	border-radius: 8px;
	box-shadow: 3px 4px 9px 1px rgba(48, 48, 48, 0.23);
	display: inline-block;
}
