<div class="myktj">

  <div class="myktj__close js-myktj__close"></div>

  <div class="myktj__text">
    <div class="myktj__tab tab">
    </div>
    <div class="myktj__tabcontent__container">
	    
    </div>
    <h1 style="text-align:center" class="popup__btn">Accommodation</h1>
    <div class="popup">
      <div class="popup-header">Accommodation Rules<span class="popup__close">&times;</span></div>
      <div class="popup-container">
        <li>Accommodation for Kshitij Participants in IIT Kharagpur will start from 18th January. Participants coming before 18th
        January will have to arrange accommodation on their own.</li>
        <li>After registering for accommodation, Kshitij team will take three days to process your request for accommodation.</li>
        <li>Participant must fill the actual details in the form as in the college identity card.</li></li>
        <li>Participants are required to update their accommodation forms with the PNR number of their travelling ticket.</li> <br>
        <li>Participants are requested to get their accommodation forms printed after their accommodation status is approved.</li> <br>
        <li>Accommodation will be provided to students on first come first serve basis. All the finalists must register for Accommodation. They will be granted Accommodation as soon as they register.</li> <br>
        <li>If students from a particular college are coming in a group then one letter with the names of all students in it will
        suffice.</li> <br>
        <li>Accommodation Fees once paid is non-Refundable.</li> <br>
        <li>Bus facility will be provided to participants from Kharagpur Railway Station to IIT Kharagpur. Volunteers will also be
        present at the station to guide the participants. Bus service will start on 17th January at 10pm.</li> <br>
        <li>Checklist of items that must be brought during the registration at IIT Kharagpur:</li> <br>
        <ul>
          <li>College Identity Card</li>
          <li>Accommodation Confirmation Letter</li>
          <li>Ticket received from TheCollegeFever</li>
        </ul>
       <li> All guests will be provided with mattress and blankets.</li> <br>
        <li>Any commodities issued to the guests would have to be returned in sound condition to the organisers during check-out.</li> <br>
        <li>Random checks would be made to avoid any illegal stay at the campus. Any team failing to produce their
        electronic/physical receipts of accommodation would be heavily fined and disqualified.</li> <br>
        <li>Entry will be only through the 'Main Gate' of IIT Kharagpur. All other gates will be closed for entry.</li> <br>
        <li>All guests are required to carry their valid government photo id proofs at all times. In addition, the student
        participants are also required to carry their valid College photo id card. Any guest failing to produce their id card
        will not be permitted inside the campus during Kshitij 2019.</li> <br>
        <li>Alcohol, drugs, cigarettes, sharp objects and explosives of any kind are strictly prohibited inside the campus. Any
        other item if deemed unsafe will be prohibited. The decision of Security and Kshitij team will be final in case of any
        disputes.</li> <br>
        <li>No outside vehicles will be allowed into the campus during the Kshitij 2019.</li> <br>
        All guests are required to maintain the decorum and cleanliness of the campus, and follow the rules of the campus at
        all times.</li> <br>
        <li>Kshitij 2019 and IIT Kharagpur will not be responsible for any mishaps that occur through the duration of stay for
        Kshitij 2019.</li> <br>
        <li>No one is allowed to roam outside the campus after 10 PM.</li> <br>
        <li>Hope to see you here at Kshitij 2019.</li> <br>
        
        <a href="https://www.thecollegefever.com/college-event-accommodation/kshitij-2019" target="_blank"><div class="accolink"> Proceed to Payment </div></a>
        <div>
            <div class="accontact">
                Harsh Vardhan<br>
                harsh.vardhan@ktj.in<br>
                9521420554<br>
            </div>
            <div class="accontact">
                Vidhan Kashyap <br>
                vidhan.kashyap@ktj.in<br>
                8116619785<br>
            </div>
            <div class="accontact">
                Shashwat Kumar<br>
                kumar.shashwat@ktj.in<br>
                9521866986<br>
            </div>
            <div class="accontact">
                Dasari Neerajakshi<br>
                dasari.neerajakshi@ktj.in<br> 
                8942052818<br>
            </div>
            <div class="accontact">
                Rupali Kumari<br>
                rupali.kumari@ktj.in<br>
                7033386501<br>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
