@import '~stylesheets/common/global-imports';

.mech {
  display: none;

  .mech__close {
    position: absolute;
    right: 9rem;
    top: 5.25rem;
  }
  .card {
    background: #bfbfbf33;
    margin: 15px 0px 15px 0px;
    width: 20em;
  }

  .mech__text {
    position: absolute;
    left: 5%;
    top: 10em;
    transform: translate(0, 0);
    font-size: 1.0em;
    color: white;
    width: 90%;
  }
  .mech__text:after{
    content: "";
    display: table;
    clear: both;
  }
  .column {
  float: left;
  // width: 23%;
  padding: 2px 5px;
  }

  .mech__text a {
    text-decoration: none;
    opacity: 0.65;
    transition: opacity 0.25s ease-out;
    color: white;

    &:hover {
      opacity: 1;
    }
  }

  .mech__title {
    text-transform: uppercase;
    // text-shadow: 1px 0px 0px #fff, -1px 0px 0px #fff, 0px -1px 0px #fff, 0px 1px 0px #fff;
    font-size: 3rem;
    opacity: 0;
    // background-color:#62626280;
    padding: 10px 0px 0px 10px;
    margin: 10px 0px 10px 0px;
  }

  .mech__body {
    @include font-about();
    margin-bottom: 3rem;
    letter-spacing: 0.15rem;
    line-height: 1.8rem;
    font-size: 1.6rem;
    opacity: 0;
    padding: 16px;
    background:#bfbfbf33;
    text-align: justify;

    &:last-child{
      margin-bottom: 0;
    }
  }

  .mech__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

}
/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #ffffff1f;
    display:flex;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #ffffff52;
    /* float: left; */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 16px;
    transition: 0.3s;
    width: 100%;
    font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ffffff7a;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc0;
}

/* Style the tab content */
.tabcontent {
  display: none;
  // padding: 4rem 4rem 0rem 4rem;
  background: #ffffff1f;
  border-top: none;
  height: 50rem;
  font-size: 15px;
  text-align: justify;
  line-height: 22px;
}

/* Style the tab */
.verttab {
  overflow: hidden;
  background-color: #fff0;
  display:flex;
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* Style the buttons inside the tab */
.verttab button {
  background-color: #ffffff1a;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 0px;
  transition: 0.3s;
  font-size: 15px;
  width: 100%;
}

/* Change background color of buttons on hover */
.verttab button:hover {
  background-color: #ffffff7a;
}

/* Create an active/current tablink class */
.verttab button.active {
  background-color: #ccc0;
}
.verttabcontent {
  display: none;
  padding: 2em 2em;
  overflow-y: auto;
  height: 37rem;
  border-top: none;
}