<div class="profile">
  <div class="profile__close js"profile__close"></div>

  <div class="profile__text">

    Name: <div class="profile__name"></div>
    KTJ-ID: <div class="profile__id"></div>
    Email: <div class="profile__email"></div>
    Mobile: <div class="profile__mobile"></div>
    College Name: <div class="profile__college"></div>

    <table class="profile__eventstable">
      <tr>
        <th>Event</th>
        <th>Action</th>
      </tr>
    </table>
    
    <table class="profile__teamtable">
      <tr>
        <th>Event</th>
        <th>Team Name</th>
        <th>Leave</th>
      </tr>
    </table>

  </div>
  </div>