<div class="quiz">
  <div class="quiz__close js-quiz__close"></div>
  <div class="quiz__text">

    <div class="column">
      <div class="card">
        <div class="js-quiz__title quiz__title">
            Biz Quiz
        </div>
        <div class="js-quiz__body quiz__body">
          Biz Quiz is one of the most popular events which was conducted for quiz enthusiasts who have a deep interest in business and have lots of knowledge about varieties of brands. This event sees the participation from various colleges and it provides participants, a new set of knowledge.
                <br>
        <button class="biz_register register_button">Register</button>
        <br>
        <a href="https://api.ktj.in/team" target="_blank">Create Team</a>
      </div>
      <div class="register_message"></div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <div class="js-quiz__title quiz__title">
          Tech Quiz
        </div>
        <div class="js-quiz__body quiz__body">
          Tech Quiz is an event where participants have to require a great depth of knowledge about new discoveries, inventions and latest technologies transformation across the globe. Tech-Quiz will not only test your current knowledge but also revert you the new knowledge about the technologies, gadgets, industry and many more. It’s a national level platform to test your memorizing skills and information about technologies.
         <br>
        <button class="tech_register register_button">Register</button>
        <br>
        <a href="https://api.ktj.in/team" target="_blank">Create Team</a>
      </div>
      <div class="register_message"></div>
      </div>
    </div>


     <div class="column">
      <div class="card">
        <div class="js-quiz__title quiz__title">
          Math Olympiad
        </div>
        <div class="js-quiz__body quiz__body">
          Math Olympiad is the ultimate mathematics challenge for you to showcase your analytical and reasoning skills. It’s the time to wake up “guess” in you. This is the event where zero also acts as a hero!! So get ready to face brain teasers and tackle them with your incessant “CPU”.
                <br>
        <button class="math_register register_button">Register</button>
        <br>
        <a href="https://api.ktj.in/team" target="_blank">Create Team</a>
      </div>
      <div class="register_message"></div>
      </div>
    </div>

  </div>
</div>
