<div class="quiz">
  <div class="quiz__close js-quiz__close"></div>
  <div class="quiz__text">

    <div class="column">
      <div class="card">
        <div class="js-quiz__title quiz__title">
            Biz Quiz
        </div>
        <div class="js-quiz__body quiz__body">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="js-quiz__title quiz__title">
          Tech Quiz
        </div>
        <div class="js-quiz__body quiz__body">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="js-quiz__title quiz__title">
            Math Olympiad
        </div>
        <div class="js-quiz__body quiz__body">
        </div>
      </div>
    </div>
  </div>
</div>
