<div class="gamefest">

  <div class="gamefest__close js-gamefest__close"></div>

  <div class="gamefest__text">
    <div class="gamefest__tab tab">
    </div>
    <div class="gamefest__tabcontent__container">

    </div>
    
    <div class="popup1">
      <span class="popup__close1">&times;</span>
      <div class="popup-container1">
        <img src="images/share/gpayqr.jpg" alt="QR CODE">    
                  <div class="paydetails">
                <h3>Important to Note!<br>1. After successful payment go to your e-wallet's history and enter respective transaction-id below<br>
                  2.Any amount lesser than the demand will not be considered as a serious attempt for participation<br>
                </h3>
                <input type="text" placeholder="Paste your transaction-id after payment" name="transaction">
                <center><button type="submit">Submit</button></center>
                </div>
      </div>
    </div>

    <div class="popup2">
      <span class="popup__close2">&times;</span>
      <div class="popup-container2">
        <img src="images/share/phonepeqr.jpg" alt="QR CODE">
                  <div class="paydetails">
                <h3>Important to Note!<br>1. After successful payment go to your e-wallet's history and enter respective transaction-id below<br>
                 2. Any amount lesser than the demand will not be considered as a serious attempt for participation<br>
                 
                </h3>
                <input  type="text" placeholder="Paste your transaction-id after payment" name="transaction">
                <center><button  type="submit">Submit</button></center>
                  </div>
      </div>
    </div>

    <div class="popup3">
      <span class="popup__close3">&times;</span>
      <div class="popup-container3">
        <img src="images/share/paytmqr.jpg" alt="QR CODE">    
                <div class="paydetails">
              <h3>Important to Note!<br>1. After successful payment go to your e-wallet's history and enter respective transaction-id below<br>
               2. Any amount lesser than the demand will not be considered as a serious attempt for participation<br>
               
              </h3>
              <input type="text" placeholder="Paste your transaction-id after payment" name="transaction">
            <center><button type="submit">Submit</button></center>
                </div>
      </div>
    </div>

  </div>
</div>