<div class="gamefest">

  <div class="gamefest__close js-gamefest__close"></div>

  <div class="gamefest__text">
    <div class="gamefest__tab tab">
    </div>
    <div class="gamefest__tabcontent__container">

    </div>
    
    <div class="popup1">
        <h3>Importent to Note!<br>After successful payment go to your e-wallets history and enter respective transaction-id below<br>
          Any amount lesser than the demand will not be considered as a serious attempt for participation<br>
          Styling of this tab will be done after some design(photoshop of QRs) work<h3>
      <span class="popup__close1">&times;</span>
      <div class="popup-container1">
        <img src="images/share/phonepeqr.png" alt="QR CODE">    
        <input type="text" placeholder="Paste your transaction-id after payment" name="transaction">
        <button type="submit">Submit</button>
      </div>
    </div>
    <div class="popup2">
      <span class="popup__close2">&times;</span>
      <div class="popup-container2">
        <img src="images/share/phonepeqr.png" alt="QR CODE">    
        <input type="text" placeholder="Paste your transaction-id after payment" name="transaction">
        <button type="submit">Submit</button>
      </div>
    </div>
    <div class="popup3">
      <span class="popup__close3">&times;</span>
      <div class="popup-container3">
        <img src="images/share/phonepeqr.png" alt="QR CODE">    
        <input type="text" placeholder="Paste your transaction-id after payment" name="transaction">
        <button type="submit">Submit</button>
      </div>
    </div>
  </div>
</div>