<div class="concept">
  <div class="concept__close js-concept__close"></div>
  <div class="concept__text">

    <div class="column">
      <div class="card">
        <div class="js-concept__title concept__title">
            B-Plan
        </div>
        <div class="js-concept__body concept__body">
          “The best startups generally come from somebody needing to scratch an itch." B- Plan is an event where participants have the perception to bring about a revolution in the business world. For this, you have create a draft of your business plan of the given problem statement and you get a platform to bring out your idea in front of an esteemed panel of investors. 
                <br>
        <button class="b_plan_register register_button">Register</button>
        <br>
        <a href="https://api.ktj.in/team" target="_blank">Create Team</a>
      </div>
      <div class="register_message"></div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="js-concept__title concept__title">
          Anadigix
        </div>
        <div class="js-concept__body concept__body">
          Many different methods of connecting components have been used over the years. Now it's your chance to showcase your talents and give your output in the analytical and digital world. Anadigix gives the platform for all electronics enthusiasts to exhibit their skills in the field of circuits and participants will have to race against time as they compete with one another to make the best possible circuit and prove their dominance over silicon.
                <br>
        <button class="anadigix_register register_button">Register</button>
        <br>
        <a href="https://api.ktj.in/team" target="_blank">Create Team</a>
      </div>
      <div class="register_message"></div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="js-concept__title concept__title">
            Eureka
        </div>
        <div class="js-concept__body concept__body">
          EUREKA is an IEEE certified paper presentation event for future creators of the new world. This event is for those enthusiastic peoples from the departments of mechanical, biotechnology, computer science, electronics, and electrical engineering who can exhibit their elite innovative ideas, which gives a new shape to the world.
                <br>
        <button class="eureka_register register_button">Register</button>
        <br>
        <a href="https://api.ktj.in/team" target="_blank">Create Team</a>
      </div>
      <div class="register_message"></div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <div class="js-concept__title concept__title">
            Xilinx Innovation Challenge
        </div>
        <div class="js-concept__body concept__body">
            To build an application Which provides solution for a real life problem using Python in conjunction with the Xilinx
            PYNQ platform and share back to the PYNQ Community.<br><a href="psevents/xilinx.pdf" target="blank">View more...</a><br>
            <button class="xilinx_register register_button">Register</button>
            <br>
            <a href="https://api.ktj.in/team" target="_blank">Create Team</a>
        </div>
        <div class="register_message"></div>
      </div>
    </div>
  </div>
</div>
