<div class="concept">
  <div class="concept__close js-concept__close"></div>
  <div class="concept__text">

    <div class="column">
      <div class="card">
        <div class="js-concept__title concept__title">
            B-Plan
        </div>
        <div class="js-concept__body concept__body">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="js-concept__title concept__title">
          Anadigix
        </div>
        <div class="js-concept__body concept__body">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="js-concept__title concept__title">
            Eureka
        </div>
        <div class="js-concept__body concept__body">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="js-concept__title concept__title">
            Xilinx Innovation Challenge
        </div>
        <div class="js-concept__body concept__body">
            To build an application Which provides solution for a real life problem using Python in conjunction with the Xilinx
PYNQ platform and share back to the PYNQ Community.<a href="psevents/xilinx.pdf" target="blank">View more...</a>
        </div>
      </div>
    </div>
  </div>
</div>
