<div class="mech">
  <div class="mech__close js-mech__close"></div>
  <div class="mech__text">

    <div class="column">
      <div class="card">
        <div class="js-mech__title mech__title">
            Laws of Motion
        </div>
        <div class="js-mech__body mech__body">
          Ever since we have discovered how to fly, the desire of humans to outreach their limits has been insatiable. For those
          who aspire to reach the zenith, we present a stimulating platform to test and try the laws of motion to design a
          remote-controlled (RC) motor-powered aircraft through our flagship event “Laws of Motion”, the Boeing National
          Aeromodelling Competition. Submit your submissions at <strong>submissions@ktj.in</strong><br>
          <ul>
              <li><a href="psevents/lom.pdf" target="blank">Know more</a></li>
              <li><a href="http://bit.ly/2GgPbYQ" target="blank">Abstract</a></li>
          </ul>
          <button class="lom_register register_button">Register</button>
          <br><a href="https://api.ktj.in/team" target="_blank">Create Team</a>
        </div>
        <div class="register_message"></div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="js-mech__title mech__title">
          Night Shift
        </div>
        <div class="js-mech__body mech__body">
          “Imagination is the seed of the creation”. Junkyard wars, a Television show telecasted in the Discovery channel is proverbial to such kind of creativity. Just like that, Night Shift is a smaller version of Junkyard wars where participants have to applied their great enthusiasm toward the problem given in the night and to make something productive by using your creative minds to transform the available materials and design in the dead of a night.<br>
          <button class="night_register register_button">Register</button>
          <br><a href="https://api.ktj.in/team" target="_blank">Create Team</a>
        </div>
        <div class="register_message"></div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="js-mech__title mech__title">
          Sand Rover
        </div>
        <div class="js-mech__body mech__body">
          Participants had an opportunity to build up an all-terrain bot and show their technical
          skills, where the wheels are bound to surf over uneven contours with minimum spillage
          of sand in sandrover. In this participant have to discharge their bots through challenging
          Obstacles pushing it to extreme limits while the clock ticks. Maximum team size-5.
          <br>
          <ul>
            <li><a href="psevents/Sand-Rover-Tutorial KTJ2019.pdf" target="_blank">Tutorial</a></li>
            <li><a href="psevents/Sandrover PS KTJ2019.pdf" target="_blank">Problem Statement</a></li>
          </ul>
          <button class="sand_register register_button">Register</button>
          <br><a href="https://api.ktj.in/team" target="_blank">Create Team</a>
        </div>
        <div class="register_message"></div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="js-mech__title mech__title">
          Arm of Achelous
        </div>
        <div class="js-mech__body mech__body">
          Showcase your skills using the concept of hydraulics showcasing the amazing utilities of water. In this event participants were instructed to make a robotics arm to move small         things from one place to another. This event of Kshitij tests your practical knowledge of engineering skills. Maximum team size-5.
          <br>
          <ul>
              <li><a href="psevents/aoa.pdf" target="blank">Know more</a></li>
          </ul>
          <button class="arm_register register_button">Register</button>
          <br><a href="https://api.ktj.in/team" target="_blank">Create Team</a>
        </div>
        <div class="register_message"></div>
      </div>
    </div>
  </div>
</div>
