<div class="tech">
  <div class="tech__close js-tech__close"></div>
  <div class="tech__text">

    <div class="column">
      <div class="card">
        <div class="js-tech__title tech__title">
            Snappit
        </div>
        <div class="js-tech__body tech__body">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="js-tech__title tech__title">
          Techquila
        </div>
        <div class="js-tech__body tech__body">
        </div>
      </div>
    </div>
  </div>
</div>
