<div class="strg">
  <div class="strg__close js-strg__close"></div>
  <div class="strg__text">

    <div class="column">
      <div class="card">
        <div class="js-strg__title strg__title">
            Indian Case Challenge
        </div>
        <div class="js-strg__body strg__body">
          Indian Case Challenge is a national level case study competition one of India’s largest in terms of the participation it sees and the prize money at stake. It is an excellent amalgamation of business acumen, tough competition, exciting prizes topped with loads of interaction and fun activities, ICC is arguably one of the best case study competitions in India. Case study plays an important role in highlighting your skills involved in case writing, teaching, and learning of problem statement.
                <br><br>
        <a href="http://bclub.co.in/icc2019/register/" target="_blank"><button  class="register_button" >Register your Squard</button></a>
      </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <div class="js-strg__title strg__title">
          Data Challenge
        </div>
        <div class="js-strg__body strg__body">
          With the rise in the number of Data Analyst across the country. Data Challenge is an event who gives a cutting-edge competition for enthusiastic participants who want to showcase their analytical and technical skills. Whether be it real-world problems or business, participants have to develop an algorithm for the processing of significant cumulative big data and get substantial insights.
                <br>
        <button class="data_register register_button">Register</button>
        <br>
        <a href="https://api.ktj.in/team" target="_blank">Create Team</a>
      </div>
      <div class="register_message"></div>
      </div>
    </div>
  </div>
</div>
